* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
}

header{
    background-color: #0099DD;
    height: 90px;
    display: flex;
    border-bottom: #ff8500 5px solid;
    
}

.titulo P{
    font-size: 50px;
    color: #ffffff;
    
}
.titulo{
    display: flex;
    margin-left: 30%;
    align-items: center ;
    gap: 8px;
    
}


.logo img {
    margin-left: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.pesquisar img{
    margin-left: 5%;
    margin-right: 90px;
}
.pesquisar{
    display: flex;
    width: 30%;
    background-color: #d9d9d9;
    border-radius: 20px;
    margin: 0 auto;
    height: 35px;
    border: red 1px solid;
    margin-top: 20px;
    font-size: 25px;
}



