* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
}

header{
    background-color: #0099DD;
    height: 90px;
    display: flex;
    border-bottom: #ff9933 5px solid;
    
}

.titulo P{
    font-size: 60px;
    color: #ffffff;
    
}
.titulo{
    display: flex;
    margin-left: 30%;
    align-items: center ;
    gap: 15px;
    
}


.logo img {
    margin-left: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.pesquisar img{
    margin-left: 5%;
    margin-right: 90px;
}
.pesquisar{
    display: flex;
    width: 30%;
    background-color: #e0dcdc;
    border-radius: 20px;
    margin: 0 auto;
    height: 35px;
    margin-top: 20px;
    font-size: 25px;
}

#botoes{
    display: flex;
    gap: 20%;
    justify-content: center;
    margin-top: 40px;
}

#bot:hover{
    background-color: #ff9933;
    color: #ffffff;
    cursor: pointer;
}
#bot:hover img {
    filter: brightness(0) invert(1); 
}

#bot{
    display:flex;
    border-radius: 10px;
    border:#ff9933 5px solid;
    font-size: 20px;
    color: #ff9933;
    font-weight: bold;
    align-items: center;
    background-color: transparent;
    padding: 10px;
}

.descricoes{
    font-size: 25px;
    color: #263672;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    margin-left:25px;
    margin-right: 25px;
}

.descricoes p {
    width: 80%;
    justify-content: center;
    text-align: center;
}

.listagem{
    margin-top: 20px;
    display: block;
    background-color: #0099DD;
    border-radius: 15px;
    border: #ff9933 5px solid;
    padding: 10px;
}

.registro{
    font-size: 20px;
    color: #ffffff;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    margin-left:25px;
    margin-right: 25px;

}

.registro p{
    width: 80%;
    justify-content: center;
    text-align: center;
}

#more{
    background-color: transparent;
    border-radius: 25px;
    border: none;
}



